#titles{
    font-size: 4rem;
    font-weight: 500;
    line-height: 60px;
    text-align: left;
   
}
.one-line{
    height: 70px;
}
.two-lines{
    height: 130px;
}

.position-titles{
    position: relative;
    right: 15px;
}