
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: relative;
    z-index: 1000;
   
    background-color: rgba(250, 235, 215, 0);
    position: fixed;
}

.section-nav{
    display: flex;
}
.nav-items{
    margin: 20px;
}




.side-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 60px;
    background-color: rgba(250, 235, 215, 0);
    position:fixed;
    z-index: 1000;

}