.menu{
    height: 100vh;
    background-color: #F8F8F8;
   

    display: flex;
    justify-content: center;
    
}


.menu-title{
    position: absolute;
    right: 40.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.menu-sections{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    
}
.starter{
    
    margin-left: 100px;
    margin-bottom: 300px; 
}
.main-course{
    margin-bottom: 100px;
}
.side{
    margin-bottom: 200px;
}
.dessert{
    margin-right: 60px;
    margin-bottom: 300px;
}
.menu-sections *{
    margin: 5px 10px 10px 5px ;
    

}



.menu-sections h4{
display: flex;
}
.menu-sections .price{
    display: flex;
}
.menu-sections .description{
    display: flex;
    text-align: left;
}